<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Welcome to Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">
            {{ column.name }}
          </div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
              <div class="progress">
                <mat-progress-bar mode="determinate" value="{{item.progress}}"></mat-progress-bar>
              </div>
              <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
              {{ item.name }}
              <div class="participants">
                <igx-avatar initials="JS"
                            [roundShape]=true
                            size="small">
                </igx-avatar>

                <igx-avatar initials="JS"
                            [roundShape]=true
                            size="small">
                </igx-avatar>

                <igx-avatar initials="JS"
                            [roundShape]=true
                            size="small">
                </igx-avatar>

                <igx-avatar initials="JS"
                            [roundShape]=true
                            size="small">
                </igx-avatar>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
